html, body {
    height: 100%;
    min-height: 600px;
}
body {
    background-image: url("../img/andre-benz-230282-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 100%;
}

/* Navigation bar*/
.navbar {
    max-width: 100%;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
}
.navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .navbar-text {
    color: white;
}
.navbar #bar-button {
    padding-left: 2%;
}
.navbar #text-sec {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    padding-left: 3%;
}
.navbar #text-sec .nav-item {
    margin: 0 5%;
}
.navbar #lang-sec {    
    padding-left: 2%;
}
.navbar #lang-sec .nav-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 0 2%;
}
.navbar #search-button {
    padding-left: 4%;
}

/* Left sidebar */
.left-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 24vw;
    height: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, .85);
}

/* Main content (title, read more, etc.) */
.text-content {
    position: absolute;
    top: 45%;
    padding-left: 6%;
    line-height: 1;
    color: white;
}
.text-content p {
    margin: 0;
}
.text-content #secondary-title {
    color: rgb(172, 172, 172);
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
}
.text-content #primary-title {
    font-family: "PT serif", sans-serif;
    font-size: 12rem;
    font-weight: bold;
    font-stretch: expanded;
}
.text-content #read-more {
    height: 2rem;
}
.text-content #read-more a {
    color: white;
    font-size: 2rem;
    vertical-align: middle;
    margin-left: 1rem;
    margin-right: 1rem;
}
.text-content #read-more p {
    display: inline-block;
    vertical-align: middle;
}

/* Right sidebar */
.right-sidebar {
    position: absolute;
    height: 180px;
    width: 60px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.right-sidebar .brand-logo {
    height: 60px;
    line-height: 60px;
    width: auto;
    font-size: 1.3rem;
}
.right-sidebar .brand-logo a {
    color: white;
}

/* Page counter */
.page-counter {
    position: absolute;
    bottom: 2rem;
    right: 0;
    padding-right: 2rem;
    color: white;
}
.page-counter * {
    display: inline-block;
    margin: 0 0.5rem;
    font-weight: 700;
}
.page-counter .page-number {
    font-family: "Open Sans", sans-serif;
}